body {
font-family: "Garamond", "Garamond", Garamond, Garamond;
margin: 0px;
padding: 0px;
background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/bd/Olivetti-Valentine.jpg);
background-attachment: fixed;
}

h1, h2, h3, h4 {
	text-align: center;
	font-size: 175%;
	font-family: Futura;
	color: red;
	}

.center {
  margin: auto;
  width: 50%;
}

.portfolio{
	max-width: 200px;
}