body {
font-family: "Garamond", "Garamond", Garamond, Garamond;
margin: 0;
padding: 0;

}

/*General functions applied to HTML*/
.center {
  margin: auto;
  width: 50%;
}

/*General formatting*/
h2 {
	text-align: center;
	font-size: 400%;
	font-family: Futura;
	color: lime;
	}



/*About Me*/
.section1 {
	height: 800px;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/bd/Olivetti-Valentine.jpg);
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

.aboutmevideo {
	position: absolute;
	left: 0;
	right: 0;
	top: 144px;
}

.amtext {
	position: absolute;
	left: -150px;
	width: 100px;
	top: 5px;
	font-family: Futura;
	font-size: 350%;
	font-style: italic;
	color: lime;
	writing-mode: vertical-rl;
	text-orientation: upright;
}




/*Portfolio*/

.section2 {
	position: relative;
	top: -60px;
	height: 1100px;
	background-image: url(https://a.1stdibscdn.com/archivesE/1stdibs/071513/AlmondCC_DM/9/DSC_0065.jpg);
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

.ptitle {
	position: relative;
	top: 20px;
	height: 200px;
	margin-bottom: 150px;
	font-weight: bold;
	font-style: italic;
}


.box {
	border: 3px lime solid;
}

.container {
	display: grid;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1030px;
	grid-template-areas: "ProdDev1 ProdDev2"
		"data illustrator"
		"data clothing"
		"website website";
	grid-template-columns: repeat(2, 1fr); /*400px looks good */
	max-width: 1000px;
	min-width: 700px;
	grid-template-rows: repeat(4, 200px);
	grid-gap: 30px;

}

section {
	overflow: hidden;

}

.ProdDev1 {
	grid-area: ProdDev1;
}

.ProdDev2 {
	grid-area: ProdDev2;
}

.data {
	grid-area: data;
}

.illustrator {
	grid-area: illustrator;
}

.clothing {
	grid-area: clothing;
}

.website {
	grid-area: website;
}




/*Proposal*/

